.login-container {
  height: 100%;
  min-height: 550px;
  background-color: #eeeeee;
  background-image: url("@/assets/images/login.jpg");
  background-size: 100% 100%;
  background-size: cover;
  .login-box {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96%;
    height: 96%;
    padding: 0 50px;
    .login-header {
      position: absolute;
      top: 0;
      left: 16px;
      white-space: nowrap;
      .login-logo {
        width: 34px;
        height: 34px;
        padding: 0 0 10px;
        vertical-align: middle;
      }
      .logo-text {
        padding: 0 0 0 10px;
        font-size: 20px;
      }
    }
    .login-language {
      position: absolute;
      top: 10px;
      left: 85%;
      white-space: nowrap;
    }
    .login-form {
      width: 400px;
      padding: 50px 50px 150px;
      margin-right: auto;
      .login-text {
        padding: 0 0 80px;
        font-size: 36px;
        white-space: nowrap;
      }
      .el-form-item {
        margin-bottom: 25px;
      }
      .login-code {
        display: flex;
        justify-content: space-between;
        .code-input {
          width: 100%;
        }
      }
      .login-btn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
        white-space: nowrap;
        .el-button {
          width: 100%;
        }
      }
      .login-footer {
        position: fixed;
        bottom: 40px;
        height: 40px;
        font-family: Arial, serif;
        font-size: 14px;
        line-height: 40px;
        color: #797979;
        text-align: center;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (width <= 600px) {
  .login-form {
    width: 97% !important;
  }
}
